.changeWrap{
    position: absolute;
    top: 34%;
    left: 30%
}
.box{
    height: 33px;
    width: 220px;
    display: inline-block;
    margin-left: 20px;
}
.email{
    font-size:20px;
}
.phone{
    margin-top: 30px;
    font-size: 20px;
}