.wrap{
    height: 300px;
    margin-left: 150px;
}
.invite-wrap{
  margin-top: 30px;
}
.transfer-wrap{
    margin-top: 50px;
}
.invite-wrap p{
    display: inline-block;
}
.transfer-wrap p{
    display: inline-block;
}
.invite-input{
     width: 300px;
     display: inline-block;
    margin-right: 30px;
 }
.transfer-input{
    width: 300px;
    display: inline-block;
    margin-right: 30px;
}